<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrations - HSE Tracker</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="navbar">
        <h2>Petrofac HSE Tracker</h2>

        <div class="nav-links">
            <a href="training_events.html">Training Events</a>
            <a href="registrations.html" class="active">Registrations</a>
        </div>
    </div>

    <div class="container">
        <h3>Employee Registrations</h3>

        <div class="form-box">

        <h3>Register Employee</h3>
        <input type="hidden" id="registrationId">

        <input type="text" id="employeeName" placeholder="Employee Name">
        <input type="text" id="employeeId" placeholder="Employee ID">

        <select id="department">
            <option value="">Select Department</option>
            <option>Offshore Operations</option>
            <option>HSE Department</option>
            <option>Engineering</option>
            <option>Maintenance</option>
        </select>

        <select id="trainingEvent">
            <option value="">Select Training Event</option>
        </select>

        <select id="status">
            <option value="Pending">Pending</option>
            <option value="Attended">Attended</option>
            <option value="Completed">Absent</option>
        </select>
        
        <div>
        <button>Register Employee</button>
        <button>Clear</button>
        </div>
        </div>
        
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Employee</th>
                    <th>Emp ID</th>
                    <th>Department</th>
                    <th>Event</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="regTableBody">

            </tbody>
        </table>
    </div>  
    <script src="../static/js/registrations.js"></script> 
    
</body>
</html>